---
layout: default
---
<br>
<div class="card">
    <div class="card-horizontal">
        <div class="img-square-wrapper">
            <img src="{{ './assets/images/' | append: page.lead_image | relative_url }}" alt="{{ page.title }}">
        </div>
        <div class="card-body card-body-left">
            <h4>{{ page.title }}</h4>
            <p><b>Abstract: </b>{{ page.abstract }}</p>
        </div>
    </div>
    <div class="card-footer">
        <small class="text-muted">Published on {{ page.date | date: '%d %B %Y' }} by {{ page.author }}</small>
    </div>
</div>
<div class="page">
<div style="text-align: left; font-size: large">
{{ content }}
<h2>Futher Reading and Links</h2>
<ol>
{% for reading in page.further_reading %}
<li><b>{{ reading[0] }}: </b><br><a href="{{ reading[1] }}">{{ reading[1] }}</a></li>
{% endfor %}
</ol>
</div>
</div>
