---
layout: default
---
<br>
<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}{% if page.previous.part %} (Part {{ page.previous.part }}){% endif %}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}}{% if page.previous.part %} (Part {{ page.previous.part }}){% endif %} &raquo;</a>
  {% endif %}
</div>
<div class="card">
    <div class="card-horizontal">
        <div class="img-square-wrapper">
            <img src="{{ './assets/images/' | append: page.lead_image | relative_url }}" alt="{{ page.title }}">
            {% if page.part %}<div class="middle-bottom">Part {{page.part}}</div>{% endif %}
        </div>
        <div class="card-body card-body-left">
            <h4>{{ page.title }} {% if page.part %}<small>(Part {{page.part}}){% endif %}</small></h4>
            <p><b>Abstract: </b>{{ page.abstract }}</p>
        </div>
    </div>
    <div class="card-footer">
        <small class="text-muted">Published on <b>{{ page.date | date: '%d %B %Y' }}</b> by <b>{{ page.author }}</b>
            {% if page.categories %}
            &nbsp;&nbsp;|&nbsp;&nbsp; Categories:&nbsp;&nbsp; 
                {% for category in page.categories %}
                    <b>{{ category}}</b>&nbsp;&nbsp;
                {% endfor %}
            {% endif %}
        </small>
    </div>
</div>
<div class="page">
<br>
<h2>Contents</h2>
{% include toc.html html=content %}
</div>

<div class="page">
<br>
<h2>Futher Reading & Resources</h2>
<ol>
{% for reading in page.further_reading %}
<li><b>{{ reading[0] }}: </b><br><a href="{{ reading[1] }}">{{ reading[1] }}</a></li>
{% endfor %}
</ol>
</div>

<div class="page">
<br>
{{ content }}
</div>
<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}{% if page.previous.part %} (Part {{ page.previous.part }}){% endif %}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}}{% if page.previous.part %} (Part {{ page.previous.part }}){% endif %} &raquo;</a>
  {% endif %}
</div>